.todo-layout {
  width: 50%;
  max-width: 700px;
  min-width: 350px;
  min-height: 60%;
  height: 70%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  resize: none;
}

.todo-layout__title {
  width: 100%;
  height: 30%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-layout__title h3 {
  color: white;
  font-size: 2rem;
  letter-spacing: 10px;
}

.todo-layout form {
  width: 100%;
  min-height: 50px;
  margin: 0.5rem 0;
}

.todo-layout__input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 2rem;
  border-radius: 3px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  resize: none;
}

.theme-toggle {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}
.theme-toggle svg {
  width: 100%;
  height: 100%;
}

.todo-items {
  width: 100%;
  height: 55%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.todo-items-container {
  width: 100%;
  height: 70%;
  position: relative;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

::-webkit-scrollbar {
  width: 0.4rem;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: maroon;
  cursor: pointer;
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
  display: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.3rem;
  height: 10%;
}
.counter {
  width: calc(50% / 2.2);
}
.filters {
  width: 50%;
  display: flex;
  display: flex;
  justify-content: center;
  text-align: center;
}
.filters p {
  margin: 0 0.5rem;
}
.clear {
  width: calc(50% / 2.2);
  text-align: center;
}

.footer p {
  font-size: 12px;
  cursor: pointer;
  padding: 0.4rem 0;
}

.mobile-footer {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.mobile-footer p {
  padding: 0.3rem;
  cursor: pointer;
}

.mobile-toggle {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  position: absolute;
  left: 0;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  bottom: 60px;
}

.mobile-toggle p {
  font-size: 12px;
}

@media (max-width: 375px) {
  .todo-layout {
    width: 90%;
    top: 30%;
    min-width: 80%;
    height: 90%;
  }
  .todo-items {
    height: 60%;
    min-height: 350px;
  }
  .todo-layout__title h3 {
    font-weight: 300;
    letter-spacing: 8px;
    font-size: 1.7rem;
  }
}

@media (min-height: 700px) {
  .todo-layout {
    height: 80%;
  }
  .todo-items {
    height: 80%;
  }
}
