.todo-layout {
  width: 50%;
  max-width: 700px;
  min-width: 350px;
  min-height: 60%;
  height: 70%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  display: flex;
  flex-direction: column;
  align-items: center;
  resize: none;
}

.todo-layout__title {
  width: 100%;
  height: 30%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-layout__title h3 {
  color: white;
  font-size: 2rem;
  letter-spacing: 10px;
}

.todo-layout form {
  width: 100%;
  min-height: 50px;
  margin: 0.5rem 0;
}

.todo-layout__input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 2rem;
  border-radius: 3px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  resize: none;
}

.theme-toggle {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}
.theme-toggle svg {
  width: 100%;
  height: 100%;
}

.todo-items {
  width: 100%;
  height: 55%;
  border-radius: 10px;
  position: relative;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.todo-items-container {
  width: 100%;
  height: 90%;
  overflow-y: auto;
  position: relative;
}

::-webkit-scrollbar {
  width: 0.4rem;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: maroon;
  cursor: pointer;
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
  display: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.3rem;
  height: 10%;
}
.counter {
  flex: 1;
}
.filters {
  flex: 2;
  display: flex;
  display: flex;
  justify-content: center;
  text-align: center;
}
.filters p {
  margin: 0 0.5rem;
}
.clear {
  flex: 1;
  text-align: center;
}

.footer p {
  font-size: 12px;
  cursor: pointer;
  padding: 0.4rem 0;
}

@media (max-width: 375px) {
  .todo-layout {
    width: 90%;
    min-width: 80%;
    top: 45%;
  }
  .todo-items {
    height: 60%;
    min-height: 350px;
  }
}

@media (min-height: 700px) {
  .todo-layout {
    height: 80%;
  }
  .todo-items {
    height: 70%;
  }
}
