.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  text-decoration: none;
  position: relative;
  padding-left: 1.2rem;
}

.checkmark {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: left;
  width: 80%;
}

.text p {
  margin: 0 1rem;
  font-size: 14px;
}

.todo-item p:hover {
  color: hsl(236, 33%, 92%);
}

.completed {
  text-decoration: line-through;
}
.pending {
  text-decoration: none;
}

.remove-todo {
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  height: 2rem;
  margin-right: 0.8rem;
  width: 2rem;
  cursor: pointer;
}

@media (min-width: 375px) {
  .remove-todo {
    opacity: 1;
  }
}
